<%- include('header.ejs') %>

<div class="container">

    <h1><%= __('Nuevo producto') %></h1>

    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label"><%= __('Nombre del producto') %></label>
            <input required type="text" name="name" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label"><%= __('Precio') %></label>
            <input required type="number" name="price" class="form-control" id="price">
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label"><%= __('Foto') %></label>
            <input type="file" name="image" class="form-control" id="image">
        </div>
        <!--
        <div class="mb-3">
            <label for="image" class="form-label">Imagen</label>
            <input required type="text" name="image" class="form-control" id="image" placeholder="/PopLogo.png">
        </div>
        -->
        <!--
        <div class="mb-3">
            <label for="tags" class="form-label">Tags</label>
            <input required type="text" name="tags" class="form-control" id="tags">
        </div>
        -->
        <div class="mb-3">
            <label for="tags" class="form-label">Tags</label>
            <select required class="form-select" name="tags" aria-label="Default select example">
                <option value="" disabled selected><%= __('Selecciona una categoría') %></option>
                <option value="lifestyle">lifestyle</option>
                <option value="mobile">mobile</option>
                <option value="vehicle">vehicle</option>
                <option value="work">work</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary"><%= __('Añadir producto') %></button>

    </form>
</div>

<%- include('footer.ejs') %>